log/**/*
storage/**/*
tmp/**/*
.env
.env.example
Dockerfile
.dockerignore
.git
vendor/**/*
spec/**/*
.vscode/**/*
.github/**/*
client/build/**/*
client/node_modules/**/*
node_modules/**/*
app/javascript/api/node_modules/
app/javascript/node_modules/
app/javascript/shared/node_modules/
app/javascript/store/node_modules/
app/javascript/styleguide/node_modules/
app/javascript/styleguide/.expo/
app/javascript/styleguide/__snapshots__/
app/javascript/client/.expo
app/javascript/client/.expo-shared
app/javascript/client/node_modules/
app/javascript/client/android/
app/javascript/client/ios/
app/javascript/warp-pipe/node_modules/
public/data/
*.keystore
.git/**/*
*.javac
.gradle/**/*
client/android/**/*
client/ios/**/*
spec/**/*
client/**/*
*.log
docker-compose.production.yml
docker-compose.yml
.expo
.expo-shared
.vscode/**/*
.docker/